:root {
  color-scheme: dark;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  margin: 0;
  background: #0b0d12;
  height: 100%;
}

/* scroll snap */
body {
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

/* each page snaps */
.heroPage,
.pageSection {
  scroll-snap-align: start;
  scroll-snap-stop: always;
}